numpy
pandas
scikit-learn
matplotlib
seaborn
tensorflow
keras
xgboost
lightgbm
catboost
statsmodels
ipykernel
ipywidgets
streamlit
joblib
imblearn
tensorflow-cpu
opencv-python-headless
Pillow
